.header {
	&__title {
		color: $color_fonts3;
	}

	&__menu {
		display: block;
	}

	&__menu-item {
		margin: 0 0 0 1em;
		color: $color_fonts3;
	}

    &__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
