.page {
    color: $color_fonts1;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient($color_back1, $color_back2);

    &__header {
        display: block;
    }

    &__main {
        max-width: 100%;
        overflow: hidden;
    }

    &__section {
        padding: 10vh 0 20vh 0;
    }

    @media only screen and (max-width: 1240px) {
        font-size: 20px;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
}

.section {
    &__title {
        font-weight: 800;
        text-align: center;
        color: $color_fonts5;
    }
    
    &__text {
        text-align: justify;
    }
}