$color_fonts1: #332020;
$color_fonts2: #e33131;
$color_fonts3: #ff5d22;
$color_fonts4: #344677;
$color_fonts5: #e97a0b;

$color_back1: #344677;
$color_back2: #a53a13;
$color_back3: #46b4b2da;

$transition_time1: 0.5s;
$transition_time2: 0.5s;
